data/
aci-bench-main/
eval/results/
eval/benchmarking/results/
.vec-inf-cache/
*.jsonl
*.safetensors
*.pt
*.pth
*.bin
*.jinja
tokenizer.model
*.err
*.out
prismatic-synthesis/g-vendi/data/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
unsloth_compiled_cache/
**/unsloth_compiled_cache/
*.json
vendor/